#cal_left {
	float: left;
	width: 49%;
	margin: 0;
}

#cal_right {
	width: 49%;
	float: right;
}

#bottom-row-1 {
	float: left;
}

@media screen and (min-width: 480px) {
	#bottom-row-2 {
		float: right;
	}
}
