%table-base {
    border: 0;
    font-family: 'Sintony', 'Arial', sans-serif;
    text-align: center;
    width: 100%;

    td {
        background-color: $esblue;
        border: 1px solid $offwhite;
    }

    th {
        background-color: $hsblue;
        border: 1px solid $white;
        color: $offwhite;
        font-weight: 400;
    }

    li {
        list-style-type: none;

        a {
            // color: $dark;
            text-decoration: none;

            &:hover {
                color: $linkblue;
            }
        }
    }
}

.ap-table {
    @extend %table-base;
}

.ap-subject-table {
    @extend %table-base;
}

.ap-subject-header {
    background-color: $hsblue;
    border: 1px $white solid;
    color: $offwhite;
    font-weight: 400;
    text-align: center;
}

th.ap-class-header {
    background-color: $lightblue;
    border: 1px solid $offwhite;
    color: $offwhite;
    font-weight: 400;
    width: 50%;
}

th.about-beliefs-header {
    @extend %table-base;
    background-color: $offwhite;
    border: 2px solid $white;
    text-align: left;

    li {
        // line-height: 2em !important;
        color: $dark;
        padding: 10px;
    }
}

.profile-of-grads-header {
    @extend %table-base;
}
