// colors
$esblue:    #bed4df;
$greyblue:  #4c5d75;
$msgrey:    #6a7d87;
$dark:      #2d3032;
$darkbrown: #594e40;
$brown:     #766449;
$camel:     #bbab95;
$offwhite:  #f7f7f7;
$lightblue: #78a3b9;
$hsblue:    #323e4e;

$h5-text:    $dark;
$linkblue:  #0480be;

$white:     #fff;
$black:     #000;

$nav-toggle-background: #2b333e;

$body-background-color: #ecebe9;
$body-color: #565353;
